{% extends 'base.html' %} 


{% block title %}Tasks{% endblock title %} 


{% block content %} 
<h1>Tasks</h1>
{% for task in tasks %} 
<div clss="card">
    <a href="{{ url_for('view_task_by_id', pk=task['id']) }}">
        <div class="card-body">
            <h5 class="card-title">{{ task["summary"] }}</h5>
            <p class="card-text">{{ task["description"] }}</p>
            <form method="POST" action="{{ url_for('update_task', pk=task['id']) }}">
                <input type="hidden" name="summary" id="id_summary" value="{{ task['summary'] }}">
                <input 
                    type="hidden" name="description"
                    id="id_description" value="{{ task['description']}}">
                <input type="hidden" name="is_active" id="id_is_active" value="false">
                <button type="submit" class="btn btn-link">
                    <i class="bi bi-trash"></i>
                </button>
            </form>
            <a href="{{ url_for('render_edit_form', pk=task['id']) }}" class="card-link">
                <i class="bi bi-pencil"></i>Edit
            </a>
        </div>
    </a>
</div>
{% endfor %} 
{% endblock content %} 
